---
resources:
  - name: paas-cf
    type: git
    source:
      uri: https://github.com/alphagov/paas-cf.git
      branch: ((branch_name))
      tag_filter: ((paas_cf_tag_filter))
      commit_verification_keys: ((gpg_public_keys))

  - name: deployment-timer
    type: time
    source:
      days: [Monday, Tuesday, Wednesday, Thursday, Friday]
      location: Europe/London
      start: 7:00 AM
      stop: 7:30 AM

jobs:
  - name: await-kick-off
    serial: true
    plan:
      - get: deployment-timer
        trigger: true
      - get: paas-cf
      - task: await-turn
        tags: [colocated-with-web]
        config:
          platform: linux
          image_resource:
            type: docker-image
            source:
              repository: alpine
              tag: 3.7
          inputs:
            - name: paas-cf
            - name: deployment-timer
          params:
            DEPLOY_ENV: ((deploy_env))
          run:
            path: ./paas-cf/concourse/scripts/sleep_for_deploy_env.sh

  - name: kick-off
    serial: true
    plan:
      - get: deployment-timer
        trigger: true
        passed: [await-kick-off]
      - get: paas-cf

      - task: startup-rds-instances
        tags: [colocated-with-web]
        config:
          platform: linux
          inputs:
            - name: paas-cf
          params:
            AWS_DEFAULT_REGION: ((aws_region))
            DEPLOY_ENV: ((deploy_env))
          image_resource:
            type: docker-image
            source:
              repository: governmentpaas/awscli
              tag: cf791cec329bff5577cd8b3c9511bf89f988b5d4
          run:
            path: ./paas-cf/concourse/scripts/rds_instances.sh
            args:
              - start

      - task: kick-off-create-cloudfoundry-pipeline
        tags: [colocated-with-web]
        config:
          platform: linux
          image_resource:
            type: docker-image
            source:
              repository: governmentpaas/self-update-pipelines
              tag: cf791cec329bff5577cd8b3c9511bf89f988b5d4
          inputs:
            - name: paas-cf
          params:
            AWS_DEFAULT_REGION: ((aws_region))
            DEPLOY_ENV: ((deploy_env))
            SKIP_AWS_CREDENTIAL_VALIDATION: true
          run:
            path: sh
            args:
              - -e
              - -c
              - |
                echo "Pipeline kick-off is enabled. Updating. (set ENABLE_MORNING_DEPLOYMENT=false to disable)"

                make -C ./paas-cf "((makefile_env_target))" trigger-deploy

  - name: pause-kick-off
    serial: true
    plan:
      - get: deployment-timer
        trigger: true
      - get: paas-cf
      - task: pause-kick-off
        tags: [colocated-with-web]
        config:
          platform: linux
          image_resource:
            type: docker-image
            source:
              repository: governmentpaas/self-update-pipelines
              tag: cf791cec329bff5577cd8b3c9511bf89f988b5d4
          inputs:
            - name: paas-cf
          params:
            AWS_DEFAULT_REGION: ((aws_region))
            DEPLOY_ENV: ((deploy_env))
            SKIP_AWS_CREDENTIAL_VALIDATION: true
          run:
            path: sh
            args:
              - -e
              - -c
              - |
                make -C ./paas-cf "((makefile_env_target))" pause-kick-off
