meta:
  environment: (( grab terraform_outputs.environment ))

name: (( grab meta.environment ))
director_uuid: ~

releases:
  - name: cf
    data: (( inject meta.cf-releases.cf ))
  - name: capi
    version: 1.8.0
    url: https://bosh.io/d/github.com/cloudfoundry/capi-release?v=1.8.0
    sha1: db40786bc0c1214fe20e663014927fc6693212bf
  - name: diego
    version: 0.1487.0
    url: https://bosh.io/d/github.com/cloudfoundry/diego-release?v=0.1487.0
    sha1: f173af7117baa34cff97cf4355f958ea536a45d0
    # Temporary reference to garden-linux to be able to quickly rollback
    # in case of issues with the migration to stemcell 3263 with kernel 4.4
    # and garden-runc in the cells.
  - name: garden-linux
    version: 0.342.0
    url: https://bosh.io/d/github.com/cloudfoundry/garden-linux-release?v=0.342.0
    sha1: 5da920b05879f66d813526793e2a73706b36b9cb
  - name: garden-runc
    version: 0.9.0
    url: https://bosh.io/d/github.com/cloudfoundry/garden-runc-release?v=0.9.0
    sha1: f0f51762fd470128539ad335934b0319b07b9a04
  - name: etcd
    version: 78
    url: https://bosh.io/d/github.com/cloudfoundry-incubator/etcd-release?v=78
    sha1: 56f7cbcbf72ff2c8f9be76f27d267aef621d3175
  - name: cflinuxfs2-rootfs
    version: 1.34.0
    url: https://bosh.io/d/github.com/cloudfoundry/cflinuxfs2-rootfs-release?v=1.34.0
    sha1: b1e367e228f5400439d4031a63df2600a9e213c4
  - name: paas-haproxy
    version: 0.0.5
  - name: datadog-for-cloudfoundry
    version: "0.0.5"

stemcells:
  - alias: default
    name: bosh-aws-xen-hvm-ubuntu-trusty-go_agent
    version: "3263.8"
    # Temporary reference to 3262.22 to be able to quickly rollback
    # in case of issues with the migration to stemcell 3263 with kernel 4.4
    # and garden-runc in the cells.
  - alias: default_kernel_3_3
    name: bosh-aws-xen-hvm-ubuntu-trusty-go_agent
    version: "3262.22"

update:
  canaries: 0
  max_in_flight: 1
  canary_watch_time: 30000-600000
  update_watch_time: 5000-600000
  serial: false
