meta:
  environment: (( grab terraform_outputs.environment ))

name: (( grab meta.environment ))
director_uuid: ~

releases:
  - name: cf
    version: "269"
    url: https://bosh.io/d/github.com/cloudfoundry/cf-release?v=269
    sha1: 3f7f0e600e2711315df2cb57a3e4edad52f2f713

    # FIXME: capi-release has been split from cf-release due to these CVEs:
    # https://www.cloudfoundry.org/cve-2017-8033/
    # https://www.cloudfoundry.org/cve-2017-8035/
    # https://www.cloudfoundry.org/cve-2017-8036/
    # https://www.cloudfoundry.org/cve-2017-8037/
    # This can be reverted once we are using a cf-release version that ships with
    # capi-release >=1.38.0
  - name: capi
    version: 1.38.0
    url: https://bosh.io/d/github.com/cloudfoundry/capi-release?v=1.38.0
    sha1: 24811687a9690c3de21ec2920237be9a662cfd3b
  - name: diego
    version: 1.23.2
    url: https://bosh.io/d/github.com/cloudfoundry/diego-release?v=1.23.2
    sha1: 9ba94ee14cb0660e233001ca3ddaea12be638744
  - name: garden-runc
    version: 1.9.0
    url: https://bosh.io/d/github.com/cloudfoundry/garden-runc-release?v=1.9.0
    sha1: 77bfe8bdb2c3daec5b40f5116a6216badabd196c
  - name: cflinuxfs2
    version: 1.156.0
    url: https://bosh.io/d/github.com/cloudfoundry/cflinuxfs2-release?v=1.156.0
    sha1: f47391f8ee5dce2aacfaf4e82d3cdcf78234a2ac
  - name: paas-haproxy
    version: 0.1.3
    url: https://s3-eu-west-1.amazonaws.com/gds-paas-build-releases/paas-haproxy-0.1.3.tgz
    sha1: 732ceb817afe33ee117b85a202d87f6f5c3dd760
  - name: datadog-for-cloudfoundry
    version: 0.1.17
    url: https://s3-eu-west-1.amazonaws.com/gds-paas-build-releases/datadog-for-cloudfoundry-0.1.17.tgz
    sha1: 1c9457bbddcf1207129a3669772f472ff0a5feef
  - name: ipsec
    version: 0.1.3
    url: https://s3-eu-west-1.amazonaws.com/gds-paas-build-releases/ipsec-0.1.3.tgz
    sha1: 6a9e252162519e50f6c511c489ba304a286d496a
  - name: nginx
    version: 1.11.7
    url: https://github.com/cloudfoundry-community/nginx-release/releases/download/v1.11.7/nginx-1.11.7.tgz
    sha1: 133bb2260411b197924fff08d4cbd923cc8ec7eb

stemcells:
  - alias: default
    name: bosh-aws-xen-hvm-ubuntu-trusty-go_agent
    version: "3421.26"

update:
  canaries: 0
  max_in_flight: 1
  canary_watch_time: 30000-420000
  update_watch_time: 5000-420000
  serial: false
