meta:
  release:
    name: cf

  api_consul_services:
    cloud_controller_ng: {}

  api_templates:
  - name: consul_agent
    release: (( grab meta.consul_templates.consul_agent.release ))
  - name: datadog-consul
    release: datadog-for-cloudfoundry
  - name: cloud_controller_ng
    release: (( grab meta.release.name ))
  - name: statsd-injector
    release: (( grab meta.release.name ))
  - name: java-buildpack
    release: (( grab meta.release.name ))
  - name: java-offline-buildpack
    release: (( grab meta.release.name ))
  - name: go-buildpack
    release: (( grab meta.release.name ))
  - name: binary-buildpack
    release: (( grab meta.release.name ))
  - name: nodejs-buildpack
    release: (( grab meta.release.name ))
  - name: ruby-buildpack
    release: (( grab meta.release.name ))
  - name: php-buildpack
    release: (( grab meta.release.name ))
  - name: python-buildpack
    release: (( grab meta.release.name ))
  - name: staticfile-buildpack
    release: (( grab meta.release.name ))

  api_worker_templates:
  - name: consul_agent
    release: (( grab meta.consul_templates.consul_agent.release ))
  - name: datadog-consul
    release: datadog-for-cloudfoundry
  - name: cloud_controller_worker
    release: (( grab meta.release.name ))

  clock_templates:
  - name: consul_agent
    release: (( grab meta.consul_templates.consul_agent.release ))
  - name: datadog-consul
    release: datadog-for-cloudfoundry
  - name: cloud_controller_clock
    release: (( grab meta.release.name ))

  consul_templates:
  - name: consul_agent
    release: (( grab meta.release.name ))
  - name: datadog-consul
    release: datadog-for-cloudfoundry

  etcd_templates:
  - name: consul_agent
    release: (( grab meta.release.name ))
  - name: datadog-consul
    release: datadog-for-cloudfoundry
  - name: etcd
    release: etcd
  - name: etcd_metrics_server
    release: etcd

  loggregator_templates:
  - name: consul_agent
    release: (( grab meta.consul_templates.consul_agent.release ))
  - name: datadog-consul
    release: datadog-for-cloudfoundry
  - name: doppler
    release: (( grab meta.release.name ))
  - name: syslog_drain_binder
    release: (( grab meta.release.name ))

  loggregator_trafficcontroller_templates:
  - name: consul_agent
    release: (( grab meta.consul_templates.consul_agent.release ))
  - name: datadog-consul
    release: datadog-for-cloudfoundry
  - name: loggregator_trafficcontroller
    release: (( grab meta.release.name ))

  nats_templates:
  - name: consul_agent
    release: (( grab meta.consul_templates.consul_agent.release ))
  - name: datadog-consul
    release: datadog-for-cloudfoundry
  - name: nats
    consumes: {nats: nil}
    release: (( grab meta.release.name ))
  - name: nats_stream_forwarder
    release: (( grab meta.release.name ))
  - name: datadog-nats
    release: datadog-for-cloudfoundry

  router_templates:
  - name: consul_agent
    release: (( grab meta.consul_templates.consul_agent.release ))
  - name: datadog-consul
    release: datadog-for-cloudfoundry
  - name: gorouter
    release: (( grab meta.release.name ))
  - name: haproxy
    release: paas-haproxy
  - name: datadog-router
    release: datadog-for-cloudfoundry

  uaa_templates:
  - name: consul_agent
    release: (( grab meta.consul_templates.consul_agent.release ))
  - name: datadog-consul
    release: datadog-for-cloudfoundry
  - name: uaa
    release: (( grab meta.release.name ))
  - name: statsd-injector
    release: (( grab meta.release.name ))

jobs:
  - name: consul
    azs: [z1, z2, z3]
    templates: (( grab meta.consul_templates ))
    instances: 3
    persistent_disk_type: consul
    vm_type: small
    stemcell: default
    networks:
      - name: cf
        static_ips:
          - 10.0.16.37
          - 10.0.17.37
          - 10.0.18.37
    update:
      serial: true
    properties:
      consul:
        agent:
          mode: server
      tags:
        job: consul
        tags: (( inject meta.datadog_tags ))

  - name: nats
    azs: [z1, z2]
    templates: (( grab meta.nats_templates ))
    instances: 2
    vm_type: medium
    stemcell: default
    networks:
      - name: cf
        static_ips:
          - 10.0.16.11
          - 10.0.17.11
    properties:
      tags:
        job: nats
        tags: (( inject meta.datadog_tags ))

  - name: etcd
    azs: [z1, z2, z3]
    templates: (( grab meta.etcd_templates ))
    instances: 3
    persistent_disk_type: etcd
    vm_type: medium
    stemcell: default
    networks:
      - name: cf
        static_ips:
          - 10.0.16.19
          - 10.0.17.19
          - 10.0.18.19
    update:
      serial: true
    properties:
      consul:
        agent:
          services:
            etcd: {}
      tags:
        job: etcd
        tags: (( inject meta.datadog_tags ))

  - name: database
    azs: [z1, z2]
    templates:
      - name: consul_agent
        release: cf
      - name: datadog-consul
        release: datadog-for-cloudfoundry
      - name: bbs
        release: diego
      - name: cfdot
        release: diego
    instances: 2
    vm_type: medium
    stemcell: default
    networks:
      - name: cf
    properties:
      tags:
        job: database
        tags: (( inject meta.datadog_tags ))
    update:
      serial: true

  - name: uaa
    azs: [z1, z2]
    templates: (( grab meta.uaa_templates ))
    instances: 2
    vm_type: uaa
    stemcell: default
    networks:
      - name: cf
    properties:
      consul:
        agent:
          services:
            uaa: {}
      tags:
        job: uaa
        tags: (( inject meta.datadog_tags ))

  - name: api
    azs: [z1, z2]
    templates: (( grab meta.api_templates ))
    instances: 2
    vm_type: api
    stemcell: default
    networks:
      - name: cf
    properties:
      consul:
        agent:
          services: (( grab meta.api_consul_services ))
      tags:
        job: api
        tags: (( inject meta.datadog_tags ))

  - name: clock_global
    azs: [z1]
    templates: (( grab meta.clock_templates ))
    instances: 1
    vm_type: clock_global
    stemcell: default
    networks:
      - name: cf
    properties:
      tags:
        job: clock_global
        tags: (( inject meta.datadog_tags ))

  - name: api_worker
    azs: [z1, z2]
    templates: (( grab meta.api_worker_templates ))
    instances: 2
    vm_type: api_worker
    stemcell: default
    networks:
      - name: cf
    properties:
      tags:
        job: api_worker
        tags: (( inject meta.datadog_tags ))

  - name: doppler
    azs: [z1, z2]
    templates: (( grab meta.loggregator_templates ))
    instances: 2
    vm_type: medium
    stemcell: default
    networks:
      - name: cf
    properties:
      tags:
        job: doppler
        tags: (( inject meta.datadog_tags ))

  - name: loggregator_trafficcontroller
    azs: [z1, z2]
    templates: (( grab meta.loggregator_trafficcontroller_templates ))
    instances: 2
    vm_type: loggregator_trafficcontroller
    stemcell: default
    networks:
      - name: cf
    properties:
      loggregator:
        uaa:
          client_secret: (( grab properties.uaa.clients.doppler.secret ))
      consul:
        agent:
          services:
            loggregator_trafficcontroller: {}
      tags:
        job: loggregator_trafficcontroller
        tags: (( inject meta.datadog_tags ))

  - name: router
    azs: [z1, z2]
    templates: (( grab meta.router_templates ))
    instances: 2
    vm_type: router
    stemcell: default
    networks:
      - name: router
    properties:
      consul:
        agent:
          services:
            gorouter: {}
      tags:
        job: router
        tags: (( inject meta.datadog_tags ))

  - name: brain
    azs: [z1, z2]
    templates:
      - name: consul_agent
        release: cf
      - name: datadog-consul
        release: datadog-for-cloudfoundry
      - name: auctioneer
        release: diego
      - name: cfdot
        release: diego
    instances: 2
    vm_type: medium
    stemcell: default
    networks:
      - name: cf
    properties:
      tags:
        job: brain
        tags: (( inject meta.datadog_tags ))

  - name: cell
    azs: [z1, z2, z3]
    templates:
      - name: consul_agent
        release: cf
      - name: datadog-consul
        release: datadog-for-cloudfoundry
      - name: rep
        release: diego
      - name: garden
        release: garden-linux
      - name: cflinuxfs2-rootfs-setup
        release: cflinuxfs2-rootfs
      - name: cfdot
        release: diego
    instances: (( grab meta.cell.instances ))
    vm_type: cell
    stemcell: default
    networks:
      - name: cell
    properties:
      tags:
        job: cell
        tags: (( inject meta.datadog_tags ))

  - name: cc_bridge
    azs: [z1, z2]
    templates:
      - name: consul_agent
        release: cf
      - name: datadog-consul
        release: datadog-for-cloudfoundry
      - name: stager
        release: cf
      - name: nsync
        release: cf
      - name: tps
        release: cf
      - name: cc_uploader
        release: cf
      - name: cfdot
        release: diego
    instances: 2
    vm_type: medium
    stemcell: default
    networks:
      - name: cf
    properties:
      tags:
        job: cc_bridge
        tags: (( inject meta.datadog_tags ))

  - name: route_emitter
    azs: [z1, z2]
    templates:
      - name: consul_agent
        release: cf
      - name: datadog-consul
        release: datadog-for-cloudfoundry
      - name: route_emitter
        release: diego
      - name: cfdot
        release: diego
    instances: 2
    vm_type: medium
    stemcell: default
    networks:
      - name: cf
    properties:
      tags:
        job: route_emitter
        tags: (( inject meta.datadog_tags ))

  - name: access
    azs: [z1, z2]
    templates:
      - name: consul_agent
        release: cf
      - name: datadog-consul
        release: datadog-for-cloudfoundry
      - name: ssh_proxy
        release: diego
      - name: file_server
        release: diego
      - name: cfdot
        release: diego
    instances: 2
    vm_type: access
    stemcell: default
    networks:
      - name: cf
    properties:
      tags:
        job: access
        tags: (( inject meta.datadog_tags ))
