[submodule "manifests/cf-deployment"]
	path = manifests/cf-deployment
	url = https://github.com/cloudfoundry/cf-deployment
[submodule "prometheus"]
	path = manifests/prometheus/upstream
	url = https://github.com/bosh-prometheus/prometheus-boshrelease
