sudo: false
rvm:
  - 2.2.3
env:
  global:
    - TF_VERSION="0.6.10"
    - SPRUCE_VERSION="0.13.0"

addons:
  apt:
    sources:
      - debian-sid
    packages:
      - shellcheck

before_install:
  - mkdir ~/bin
  - export PATH=~/bin:$PATH
  - |
    wget https://releases.hashicorp.com/terraform/${TF_VERSION}/terraform_${TF_VERSION}_linux_amd64.zip
    unzip -o terraform_${TF_VERSION}_linux_amd64.zip -d ~/bin
    rm terraform_${TF_VERSION}_linux_amd64.zip
  - |
    wget https://github.com/geofffranks/spruce/releases/download/v${SPRUCE_VERSION}/spruce_${SPRUCE_VERSION}_linux_amd64.tar.gz
    tar -xvzf spruce_${SPRUCE_VERSION}_linux_amd64.tar.gz
    mv spruce_${SPRUCE_VERSION}_linux_amd64/spruce ~/bin && chmod +x ~/bin/spruce
    rm -rf spruce_${SPRUCE_VERSION}_linux_amd64.tar.gz spruce_${SPRUCE_VERSION}_linux_amd64
  - |
    pip install --user yamllint

script:
  - make test
