---
rule_files:
  # See alerts_validation_spec.rb for details of how stdin gets set:
  - spec/alerts/fixtures/rules.yml

evaluation_interval: 1m

tests:
  - interval: 5m
    input_series:
      - series: 'firehose_value_metric_rep_container_count{environment="test", bosh_job_id="1"}'
        values: '10+0x24 31+0x36'

      - series: 'firehose_value_metric_rep_capacity_total_containers{environment="test", bosh_job_id="1"}'
        values: '40+0x60'

      - series: 'firehose_value_metric_rep_container_count{environment="test", bosh_job_id="2"}'
        values: '07+0x24 24+0x36'

      - series: 'firehose_value_metric_rep_capacity_total_containers{environment="test", bosh_job_id="2"}'
        values: '30+0x60'

    alert_rule_test:
      # Does not fire when the percentage of container
      # capacity used is below the threshold
      - eval_time: 2h
        alertname: DiegoCellRepContainerCapacity

      # Does not fire when the percentage of container
      # capacity used has not been above the threshold
      # for long enough
      - eval_time: 4h
        alertname: DiegoCellRepContainerCapacity

      # Fires when the percentage of container capacity
      # used has been above the threshold for 2 hours
      - eval_time: 5h
        alertname: DiegoCellRepContainerCapacity
        exp_alerts:
          - exp_labels:
              severity: warning
              environment: test
            exp_annotations:
              summary: Rep Container Capacity
              description: >
                High container capacity in use 79%
                in the last 2 hours on average.
                Review if we need to scale...
              url: https://team-manual.cloud.service.gov.uk/architecture_decision_records/ADR021-cell-capacity-assignment-2/#decision
