<p style="Margin: 0 0 20px 0; font-size: 19px; line-height: 25px; color: #0B0C0C;">
  Hello,
</p>
<p style="Margin: 0 0 20px 0; font-size: 19px; line-height: 25px; color: #0B0C0C;">
  Open this link to create your account and set your password. It only works once.
</p>
<p style="Margin: 0 0 20px 0; font-size: 19px; line-height: 25px; color: #0B0C0C;">
  <a style="word-wrap:break-word" href="<%= invite_url %>" target="_blank"><%= invite_url %></a>
</p>
<p style="Margin: 0 0 20px 0; font-size: 19px; line-height: 25px; color: #0B0C0C;">
  In some departments antivirus systems check and invalidate links in inbound emails. If you’re unable to access the URL above, please contact <a href="mailto:gov-uk-paas-support@digital.cabinet-office.gov.uk">gov-uk-paas-support@digital.cabinet-office.gov.uk</a>.
</p>
<p style="Margin: 0 0 20px 0; font-size: 19px; line-height: 25px; color: #0B0C0C;">
  We’ve added your account to the following organisation:
</p>
<p style="Margin: 0 0 20px 0; font-size: 19px; line-height: 25px; color: #0B0C0C;"><%= org %></p>
<p style="Margin: 0 0 20px 0; font-size: 19px; line-height: 25px; color: #0B0C0C;">
  Read more about <a href="https://docs.cloud.service.gov.uk/#managing-organisations-spaces-and-users" target="_blank">organisations</a>.
</p>
<p style="Margin: 0 0 20px 0; font-size: 19px; line-height: 25px; color: #0B0C0C;">
  Check out our documentation on how to <a href="https://docs.cloud.service.gov.uk/#get-started">get started</a>.
</p>
<p style="Margin: 0 0 20px 0; font-size: 19px; line-height: 25px; color: #0B0C0C;">
  You can find our privacy notice <a href="https://www.cloud.service.gov.uk/privacy-notice">here</a>.
</p>
<p style="Margin: 0 0 20px 0; font-size: 19px; line-height: 25px; color: #0B0C0C;">
  To check the status of GOV.UK PaaS, and see the availability of live applications and database connectivity, visit our <a href="https://status.cloud.service.gov.uk">status page</a>. We recommend you sign up to this service to get alerts and incident updates.
</p>
