<table width="100%" style="min-width:100%;width:100%!important" cellpadding="0" cellspacing="0" border="0">
  <tbody>
    <tr>
      <td width="100%" height="53" bgcolor="#0b0c0c">
        <table width="100%" style="max-width:580px" cellpadding="0" cellspacing="0" border="0" align="center">
          <tbody>
            <tr>
              <td width="70" bgcolor="#0b0c0c" valign="middle">
                <a href="https://www.gov.uk" style="text-decoration:none" target="_blank"><img src="https://www.cloud.service.gov.uk/images/gov.uk_logotype_crown.png" alt="" height="32" border="0" style="margin-top:4px;margin-left:10px"></a>
              </td>
              <td width="100%" bgcolor="#0b0c0c" valign="middle" align="left">
                <span style="padding-left:5px"><a href="https://www.gov.uk" style="font-family:Helvetica,Arial,sans-serif;font-size:28px;line-height:1.315789474;font-weight:700;color:#ffffff;text-decoration:none" target="_blank">GOV.UK</a></span>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>

<table align="center" cellpadding="0" cellspacing="0" border="0" style="max-width:580px;width:100%!important" width="100%">
  <tbody>
    <tr>
      <td width="10" height="10" valign="middle"></td>
      <td>
        <table width="100%" cellpadding="0" cellspacing="0" border="0">
          <tbody>
            <tr>
              <td bgcolor="#005EA5" width="100%" height="10"></td>
            </tr>
          </tbody>
        </table>
      </td>
      <td width="10" valign="middle" height="10"></td>
    </tr>
  </tbody>
</table>

<table align="center" cellpadding="0" cellspacing="0" border="0" style="max-width:580px;width:100%!important" width="100%">
  <tbody>
    <tr>
      <td height="30">&nbsp;</td>
    </tr>
    <tr>
      <td width="10" valign="middle">&nbsp;</td>
      <td style="font-family:Helvetica,Arial,sans-serif;font-size:19px;line-height:1.315789474;max-width:560px">
        <p style="Margin:0 0 20px 0;font-size:19px;line-height:25px;color:#0b0c0c">
          Hi,
        </p>
        <p style="Margin:0 0 20px 0;font-size:19px;line-height:25px;color:#0b0c0c">
          This is your account on GOV.UK PaaS:
        </p>
        <p style="Margin:0 0 20px 0;font-size:19px;line-height:25px;color:#0b0c0c">
          Username: <%= email %><% if defined?(org) && org != "" %><br>
          Organisation: <%= org %><% end %>
        </p>
        <p style="Margin:0 0 20px 0;font-size:19px;line-height:25px;color:#0b0c0c">
          Open this link to create your account and set your password. It only works once.
        </p>
        <p style="Margin:0 0 20px 0;font-size:19px;line-height:25px;color:#0b0c0c">
          <a style="word-wrap:break-word" href="<%= invite_url %>" target="_blank"><%= invite_url %></a>
        </p>
        <p style="Margin:0 0 20px 0;font-size:19px;line-height:25px;color:#0b0c0c">
          In some departments antivirus systems check and invalidate links in inbound emails. If you’re unable to access the URL above, please contact <a href="mailto:gov-uk-paas-support@digital.cabinet-office.gov.uk">gov-uk-paas-support@digital.cabinet-office.gov.uk</a>
        </p>
      </td>
      <td width="10" valign="middle">&nbsp;</td>
    </tr>
    <tr>
      <td height="30">&nbsp;</td>
    </tr>
  </tbody>
</table>
