<p style="Margin: 0 0 20px 0; font-size: 19px; line-height: 25px; color: #0B0C0C;">
  Hello,
</p>
<p style="Margin: 0 0 20px 0; font-size: 19px; line-height: 25px; color: #0B0C0C;">
  Use this link to reset your password. It only works once.
</p>
<p style="Margin: 0 0 20px 0; font-size: 19px; line-height: 25px; color: #0B0C0C;">
  <a style="word-wrap:break-word" href="<%= invite_url %>" target="_blank"><%= invite_url %></a>
</p>
<p style="Margin: 0 0 20px 0; font-size: 19px; line-height: 25px; color: #0B0C0C;">
  In some departments antivirus systems check and invalidate links in inbound emails. If you’re unable to access the URL above, please contact <a href="mailto:gov-uk-paas-support@digital.cabinet-office.gov.uk">gov-uk-paas-support@digital.cabinet-office.gov.uk</a>
</p>
