---

vm_extensions:

  - name: 64g_ephemeral_disk
    cloud_properties:
      ephemeral_disk:
        size: 65536
        type: gp2

  - name: cf_cc_instance_profile
    cloud_properties:
      iam_instance_profile: cf-cloudcontroller

  - name: cf_rds_client_sg
    cloud_properties:
      security_groups:
        - ((terraform_outputs_default_security_group))
        - ((terraform_outputs_cf_rds_client_security_group))

  # This has to duplicate the cf_rds_client_security_group because
  # vm_extensions are only shallow merged, and you therefore can't use more
  # than one that specifies security groups.
  # https://github.com/cloudfoundry/bosh/issues/1177
  - name: cf_cc_security_groups
    cloud_properties:
      security_groups:
        - ((terraform_outputs_default_security_group))
        - ((terraform_outputs_cf_rds_client_security_group))
        - ((terraform_outputs_cloud_controller_security_group))

  - name: cf_cc_elb
    cloud_properties:
      elbs:
        - ((terraform_outputs_cf_cc_elb_name))

  - name: cf_doppler_elbs
    cloud_properties:
      elbs:
        - ((terraform_outputs_cf_doppler_elb_name))

  - name: ssh_proxy_elb
    cloud_properties:
      elbs:
        - ((terraform_outputs_cf_ssh_proxy_elb_name))
