# Source: firehose-exporter
---

- type: replace
  path: /instance_groups/name=prometheus2/jobs/name=prometheus2/properties/prometheus/custom_rules?/-
  value:
    name: CCFailedJobCount
    rules:
      - record: firehose_value_metric_cc_failed_job_count_total:avg30m
        expr: avg_over_time(firehose_value_metric_cc_failed_job_count_total[30m])

      - alert: CCFailedJobCount_Warning
        expr: max(delta(firehose_value_metric_cc_failed_job_count_total:avg30m[30m])) > 3
        labels:
          severity: warning
        annotations:
          summary: "Cloud Controller API failed job count"
          description: "Amount of failed jobs in Cloud Controller API grew considerably in the last hour: {{ $value | printf \"%.0f\" }}. See logit.io: '@source.component:cloud_controller_worker AND @level:ERROR'"
