# Source: paas-metrics
---

- type: replace
  path: /instance_groups/name=prometheus2/jobs/name=prometheus2/properties/prometheus/custom_rules?/-
  value:
    name: CloudFrontInvalidTLSCertificates
    rules:

      - alert: CloudFrontInvalidTLSCertificates
        expr: "count(paas_cdn_tls_certificates_validity == 0) >= 3"
        for: 5m
        annotations:
          summary: "At least 3 tenant/CloudFront TLS certificates are invalid"
          description: "At least 3 tenant/CloudFront TLS certificates are invalid"
          url: "https://team-manual.cloud.service.gov.uk/incident_management/responding_to_alerts/#invalid-certificates"
        labels:
          severity: warning
          service: cloudfront
          layer: tenant
