# Source: concourse
---

- type: replace
  path: /instance_groups/name=prometheus2/jobs/name=prometheus2/properties/prometheus/custom_rules?/-
  value:
    name: ConcourseCheckCertificatesFailures
    rules:
      - record: "concourse_check_certificates_failures"
        # in english: "only fill in gaps in the concourse_builds_finished counter with 0 if there haven't been any values for 12h, otherwise fill in with the maximum value from the last 12h"
        expr: sum(concourse_builds_finished{exported_job="check-certificates",pipeline="create-cloudfoundry",status="failed"} or absent_over_time(concourse_builds_finished{exported_job="check-certificates",pipeline="create-cloudfoundry",status="failed"}[12h])-1 or max_over_time(concourse_builds_finished{exported_job="check-certificates",pipeline="create-cloudfoundry",status="failed"}[12h]))

      - alert: ConcourseCheckCertificatesFailures
        expr: increase(concourse_check_certificates_failures[1h]) >= 1
        labels:
          severity: critical
        annotations:
          summary: Concourse check-certificates failures
          description: Some of the Cloud Foundry certificates might be expiring soon. Check the health/check-certificates job on Concourse.
          url: https://team-manual.cloud.service.gov.uk/incident_management/responding_to_alerts/#cloud-foundry-internal-certificates
