---
# We want to run everything in multi-AZ mode

# Ensure there are 2 of everything that is availability tested

- type: replace
  path: /instance_groups/name=nats/instances
  value: 2

- type: replace
  path: /instance_groups/name=diego-api/instances
  value: 2

- type: replace
  path: /instance_groups/name=uaa/instances
  value: 2

- type: replace
  path: /instance_groups/name=scheduler/instances
  value: 2

- type: replace
  path: /instance_groups/name=diego-cell/instances
  value: 2

- type: replace
  path: /instance_groups/name=router/instances
  value: 2

- type: replace
  path: /instance_groups/name=api/instances
  value: 2

- type: replace
  path: /instance_groups/name=cc-worker/instances
  value: 2

- type: replace
  path: /instance_groups/name=doppler/instances
  value: 2

- type: replace
  path: /instance_groups/name=log-api/instances
  value: 2

- type: replace
  path: /instance_groups/name=doppler/instances
  value: 2

- type: replace
  path: /instance_groups/name=router/instances
  value: 2

- type: replace
  path: /instance_groups/name=diego-cell/instances
  value: 2

- type: replace
  path: /instance_groups/name=api/instances
  value: 2

# Ensure there is 1 of everything that is not availability tested

- type: replace
  path: /instance_groups/name=rds_broker/instances
  value: 1

- type: replace
  path: /instance_groups/name=cdn_broker/instances
  value: 1

- type: replace
  path: /instance_groups/name=elasticache_broker/instances
  value: 1

- type: replace
  path: /instance_groups/name=s3_broker/instances
  value: 1

- type: replace
  path: /instance_groups/name=prometheus/instances
  value: 1
