[
    {
        "peer_name": "testing-01",
        "account_id": "595665891067",
        "vpc_id": "vpc-09fd619806a886763",
        "subnet_cidr": "172.44.0.0/22",
        "backing_service_routing": false,
        "bindings": [
            {
                "org_name": "admin",
                "spaces": [
                    "billing"
                ]
            }
	    ]
    },
    {
        "peer_name": "testing-02",
        "account_id": "595665891067",
        "vpc_id": "vpc-051e9bb3453774fae",
        "subnet_cidr": "172.48.0.0/22",
        "backing_service_routing": false,
        "bindings": [
            {
                "org_name": "admin",
                "all_spaces": false,
                "spaces": [
                    "billing",
                    "healthchecks"
                ]
            },
            {
                "org_name": "govuk-paas",
                "all_spaces": false,
                "spaces": [
                    "docs",
                    "tools"
                ]
            }
	    ]
    }
]
