---
compilation_vm_instance_type: c5.large

nano_vm_instance_type: t3.nano
nano_vm_spot_bid_price: 0.004

small_vm_instance_type: t3.small
small_vm_spot_bid_price: 0.01

medium_vm_instance_type: t3.medium
medium_vm_spot_bid_price: 0.02

large_vm_instance_type: m5.large
large_vm_spot_bid_price: 0.05

xlarge_vm_instance_type: m5.xlarge
xlarge_vm_spot_bid_price: 0.1

cell_instance_type: r5.xlarge
cell_vm_spot_bid_price: 0.15

high_cpu_cell_instance_type: m5.2xlarge
high_cpu_cell_vm_spot_bid_price: 0.30

small_cell_instance_type: r5.large
small_cell_vm_spot_bid_price: 0.06

router_instance_type: c5.large
router_vm_spot_bid_price: 0.042

slim_router_instance_type: t3.medium
slim_router_vm_spot_bid_price: 0.02

# Advertised memory capacity of the cells.
#
# We are currently doing over-provisioning of our cells.
# More info in: https://github.com/alphagov/paas-cf/pull/1126
#
# The following value is computed by multiplying the real cell available
# memory for the given instance type with a multiplier factor
#
# Refer to https://aws.amazon.com/ec2/instance-types/ for the instance mb size
#
# For instance:
#
# ruby -e 'puts "cell_memory_capacity_mb: #{ (32 * 1024 * 1.66).floor }";'
#
cell_memory_capacity_mb: 54394

# Used by cf-deployment/operations/rename-network-and-deployment.yml
network_name: cf

# Used by cf-deployment/operations/use-external-dbs.yml
external_database_type: postgres
external_database_port: 5432
external_cc_database_name: api
external_policy_server_database_name: network_policy
external_policy_server_database_username: network_policy
external_silk_controller_database_name: network_connectivity
external_silk_controller_database_username: network_connectivity
external_app_autoscaler_database_name: app_autoscaler
external_app_autoscaler_database_username: app_autoscaler
