<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <a href="https://app.datadoghq.com/monitors#triggered?query=prod"><div data-title="Prod" data-id="prod" data-view="Health"></div></a>
    </li>
    <li data-row="1" data-col="2" data-sizex="1" data-sizey="1">
      <a href="https://app.datadoghq.com/monitors#triggered?query=staging"><div data-title="Staging" data-id="staging" data-view="Health"></div></a>
    </li>
    <li data-row="1" data-col="3" data-sizex="1" data-sizey="1">
      <a href="https://app.datadoghq.com/monitors#triggered?query=master"><div data-title="CI" data-id="ci" data-view="Health"></div></a>
    </li>
  </ul>
</div>
