$background: #444;
$text: #fff;
$success: #0E8F00;
$unknown: #9B9B9B;
$warning: #F25F00;
$failure: #AF0900;
$error: #5B0274;

$small: 34em;


.widget-health {
  li {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding-top: 5px;


    h1 {
      font-size: 7vh;
    }

    h3 {
      font-size: 5vh;
      font-weight: bold;

      @media screen and (min-width: $small) {
        font-size: 7vh;
      }
    }

    h4 {
      font-size: 2.5vh;
      font-weight: bold;
      text-transform: uppercase;

      @media screen and (min-width: $small) {
        font-size: 3vh;
      }
    }

    p &.updated-at {
      font-size: 10px;
    }

    &.green {
      background-color: $success;

      p {
        &.updated-at {
          color: lighten($success, 20%);
        }
      }
    }

    &.grey {
      background-color: $unknown;

      p {
        &.updated-at {
          color: lighten($unknown, 60%);
        }
      }
    }

    &.yellow {
      background-color: $warning;

      p {
        &.updated-at {
          color: lighten($warning, 60%);
        }
      }
    }

    &.red {
      background-color: $failure;

      p {
        &.updated-at {
          color: lighten($failure, 60%);
        }
      }
    }

    &.error {
      background-color: $error;

      p {
        &.updated-at {
          color: lighten($error, 60%);
        }
      }
    }

    div.floated {
      display: inline-block;
      margin-left: 10px;
      margin-right: 10px;

      @media screen and (min-width: $small) {
        margin-left: 20px;
        margin-right: 20px;
      }

      &:first-of-type {
        margin-left: 0;
      }

      &:last-of-type {
        margin-right: 0;
      }
    }
  }
}
