- type: remove
  path: /instance_groups/name=tcp-router
- type: remove
  path: /instance_groups/name=uaa/jobs/name=uaa/properties/uaa/clients/tcp_router
- type: remove
  path: /instance_groups/name=api/jobs/name=routing-api
- type: remove
  path: /instance_groups/name=api/jobs/name=cloud_controller_ng/properties/routing_api
- type: remove
  path: /instance_groups/name=api/jobs/name=consul_agent/properties/consul/agent/services/routing-api
- type: remove
  path: /instance_groups/name=cc-worker/jobs/name=cloud_controller_worker/properties/routing_api
- type: remove
  path: /instance_groups/name=scheduler/jobs/name=cloud_controller_clock/properties/routing_api
