---
- type: replace
  path: /releases/name=routing
  value:
    name: "routing"
    version: "0.203.0"
    url: "https://bosh.io/d/github.com/cloudfoundry/routing-release?v=0.203.0"
    sha1: "f4c081c39f64c368fab7a2553b074e8850d1f5f5"

- type: remove
  path: /instance_groups/name=router/vm_extensions

- type: remove
  path: /instance_groups/name=router/jobs/name=gorouter/properties/routing_api

- type: replace
  path: /instance_groups/name=router/jobs/name=gorouter/properties/router/drain_wait?
  value: 120

- type: replace
  path: /instance_groups/name=router/jobs/name=gorouter/properties/router/tls_port?
  value: 8443

- type: replace
  path: /instance_groups/name=router/jobs/name=gorouter/properties/router/status/user
  value: router_user

- type: replace
  path: /instance_groups/name=router/jobs/name=gorouter/properties/router/http_rewrite?
  value:
    responses:
      add_headers_if_not_present:
        - name: Strict-Transport-Security
          value: max-age=31536000; includeSubDomains; preload

- type: replace
  path: /instance_groups/name=router/jobs/name=gorouter/properties/router/max_idle_connections?
  # See: https://docs.cloudfoundry.org/adminguide/routing-keepalive.html
  #
  # When this is non-zero, gorouter maintains 100 idle connections with
  # backends (hardcoded)
  #
  # When this is non-zero, gorouter maintains the configured value idle
  # connections
  #
  # Enabling this will introduce some base unreliability due to keepalives
  value: 0

- type: replace
  path: /instance_groups/name=router/networks/0/name
  value: router

- type: replace
  path: /instance_groups/name=router/vm_extensions?/-
  value: cf_router_target_groups
