- type: replace
  path: /releases/-
  value:
    name: "prometheus"
    version: "26.2.0"
    url: "https://bosh.io/d/github.com/cloudfoundry-community/prometheus-boshrelease?v=26.2.0"
    sha1: "9a57a9c74ebcb53baaa9cf8eb22f8ef353460169"

- type: replace
  path: /releases/-
  value:
    name: caddy
    version: "0.7.0"
    url: "https://bosh.io/d/github.com/dpb587/caddy-bosh-release?v=0.7.0"
    sha1: "3602cd1a33f6d6ac49175b70db6ce6b96fa84e20"

- type: replace
  path: /releases/-
  value:
    name: observability
    version: 0.0.1580152443
    url: https://s3-eu-west-1.amazonaws.com/gds-paas-build-releases/observability-0.0.1580152443.tgz
    sha1: ff5266d86c30f6792f61094c2ce1a201bec43943

- type: replace
  path: /variables/-
  value:
    name: paas_admin_prometheus_password
    type: password

- type: replace
  path: /variables/-
  value:
    name: custom_broker_acceptance_prometheus_password
    type: password

- type: replace
  path: /variables/-
  value:
    name: operator_prometheus_password
    type: password

- type: replace
  path: /instance_groups/-
  value:
    name: prometheus
    instances: 2
    azs: [z1, z2, z3]
    stemcell: default

    persistent_disk_type: ((prometheus_disk_size))
    vm_type: xlarge

    networks:
      - name: cf

    jobs:
      - name: prometheus2
        release: prometheus
        properties:
          prometheus:
            storage:
              tsdb:
                retention:
                  time: 370d
                  size: ((prometheus_retention_size))

            rule_files: []

            scrape_configs:
              - job_name: prometheus
                static_configs:
                  - targets: ['localhost:9090']

              - job_name: aiven
                scheme: https

                basic_auth:
                  username: ((aiven_prometheus_username))
                  password: ((aiven_prometheus_password))

                tls_config:
                  insecure_skip_verify: true

                file_sd_configs:
                  - refresh_interval: 15s
                    files:
                      - /var/vcap/store/aiven-service-discovery/discovery/targets.json

                relabel_configs:
                  - source_labels: [__address__]
                    separator: ;
                    regex: (.*)
                    target_label: __address__
                    replacement: ${1}:9273
                    action: replace

                  - source_labels: [aiven_cloud]
                    separator: ;
                    regex: 'aws-((terraform_outputs_region))'
                    action: keep

                metric_relabel_configs:
                  - source_labels: [__name__]
                    separator: ;
                    regex: 'elasticsearch_(breakers|thread|fs|indices|os)_.*'
                    action: drop

                  - source_labels: [__name__]
                    separator: ;
                    regex: 'net_(icmp|udplite)_.*'
                    action: drop

                  - source_labels: [__name__]
                    separator: ;
                    regex: 'prometheus_sd_(consul|kubernetes)_.*'
                    action: drop

      - name: route_registrar
        release: routing
        properties:
          route_registrar:
            routes:
              - name: prometheus
                port: 8080
                prepend_instance_index: false
                registration_interval: 10s
                uris:
                  - prometheus.((system_domain))

      - name: caddy
        release: caddy
        properties:
          http_port: 8080
          caddyfile: |
            http://:8080 {
              tls off

              basicauth / paas-admin ((paas_admin_prometheus_password))
              basicauth / custom-broker-acceptance ((custom_broker_acceptance_prometheus_password))
              basicauth / operator ((operator_prometheus_password))

              proxy / http://q-s3-i0.prometheus.*.((environment)).bosh:9090 http://localhost:9090 {
                policy first
                fail_timeout 10s
                max_fails 5
                try_duration 2.5s
                try_interval 100ms
                health_check /-/ready
                health_check_interval 10s
                health_check_timeout 2.5s
                health_check_contains Ready
                timeout 30s
                except /-/reload
              }
            }

      - name: aiven-service-discovery
        release: observability
        properties:
          aiven:
            project: paas-cf-((aws_account))
            api_token: ((aiven_api_token))
            prometheus_endpoint_id: ((aiven_prometheus_endpoint_id))

          target_path: /var/vcap/store/aiven-service-discovery/discovery
          target_filename: targets.json
