---
- type: replace
  path: /releases/-
  value:
    name: rds-broker
    version: 0.1.69
    url: https://s3-eu-west-1.amazonaws.com/gds-paas-build-releases/rds-broker-0.1.69.tgz
    sha1: 2b1b93c028dbcc0eefcfa351fe7b1e3c703cb3a8

- type: replace
  path: /instance_groups/-
  value:
    name: rds_broker
    azs: [z1, z2]
    instances: 2
    vm_type: medium
    vm_extensions:
      - rds_broker
    stemcell: default
    networks:
      - name: cf

- type: replace
  path: /instance_groups/name=rds_broker/jobs?/-
  value:
    name: rds-metric-collector
    release: rds-broker
    properties:
      rds-metric-collector:
        aws:
          aws_region: "((terraform_outputs_region))"
        rds-broker:
          broker_name: "((terraform_outputs_environment))"
          db_prefix: "rdsbroker"
          master_password_seed: ((secrets_rds_broker_master_password_seed))
        loggregator:
          ca_cert: "((loggregator_rds_metrics_collector.ca))"
          client_cert: "((loggregator_rds_metrics_collector.certificate))"
          client_key: "((loggregator_rds_metrics_collector.private_key))"
        locket:
          api_location: "locket.service.cf.internal:8891"
          ca_cert: "((diego_locket_client.ca))"
          client_cert: "((diego_locket_client.certificate))"
          client_key: "((diego_locket_client.private_key))"
        scheduler:
          sql_metrics_collector_interval: 60
          cloudwatch_metrics_collector_interval: 300

- type: replace
  path: /instance_groups/name=rds_broker/jobs?/-
  value:
    name: rds-broker
    release: rds-broker
    properties:
      rds-broker:
        allow_user_provision_parameters: true
        allow_user_update_parameters: true
        allow_user_bind_parameters: true
        aws_region: "((terraform_outputs_region))"
        password: ((secrets_rds_broker_admin_password))
        state_encryption_key: ((secrets_rds_broker_state_encryption_key))
        db_prefix: "rdsbroker"
        master_password_seed: ((secrets_rds_broker_master_password_seed))
        broker_name: "((terraform_outputs_environment))"
        cron_schedule: "@daily"
        keep_snapshots_for_days: 35

- type: replace
  path: /instance_groups/name=api/jobs/name=cloud_controller_ng/properties/cc/security_group_definitions/-
  value:
    name: rds_broker_instances
    rules:
      - protocol: tcp
        destination: ((terraform_outputs_aws_backing_service_ip_range_start))-((terraform_outputs_aws_backing_service_ip_range_stop))
        ports: '5432'
      - protocol: tcp
        destination: ((terraform_outputs_aws_backing_service_ip_range_start))-((terraform_outputs_aws_backing_service_ip_range_stop))
        ports: '3306'

- type: replace
  path: /instance_groups/name=api/jobs/name=cloud_controller_ng/properties/cc/default_running_security_groups/-
  value: rds_broker_instances

- type: replace
  path: /instance_groups/name=api/jobs/name=cloud_controller_ng/properties/cc/default_staging_security_groups/-
  value: rds_broker_instances

- type: replace
  path: /variables/-
  value:
    name: secrets_rds_broker_admin_password
    type: password
- type: replace
  path: /variables/-
  value:
    name: secrets_rds_broker_master_password_seed
    type: password
- type: replace
  path: /variables/-
  value:
    name: secrets_rds_broker_state_encryption_key
    type: password
- type: replace
  path: /variables/-
  value:
    name: loggregator_rds_metrics_collector
    type: certificate
    options:
      ca: loggregator_ca
      common_name: loggregator_rds_metrics_collector
      extended_key_usage:
        - client_auth
        - server_auth
