---
- type: replace
  path: /meta?/rds_broker
  value:
    default_postgres_rds_properties: &default_postgres_rds_properties
      storage_type: "gp2"
      auto_minor_version_upgrade: true
      multi_az: false
      storage_encrypted: false
      publicly_accessible: false
      copy_tags_to_snapshot: true
      skip_final_snapshot: false
      backup_retention_period: 7
      db_subnet_group_name: ((terraform_outputs_rds_broker_dbs_subnet_group))
      vpc_security_group_ids:
        - ((terraform_outputs_rds_broker_dbs_security_group_id))
      engine: "postgres"
      engine_version: "11"
      engine_family: "postgres11"
      default_extensions: ["uuid-ossp", "postgis", "citext"]
      allowed_extensions: [
        "address_standardizer",
        "address_standardizer_data_us",
        "bloom",
        "btree_gin",
        "btree_gist",
        "citext",
        "cube",
        "dblink",
        "dict_int",
        "dict_xsyn",
        "earthdistance",
        "fuzzystrmatch",
        "hstore",
        "hstore_plperl",
        "intagg",
        "intarray",
        "ip4r",
        "isn",
        "log_fdw",
        "libprotobuf",
        "ltree",
        "orafce",
        "pgaudit",
        "pg_buffercache",
        "pg_freespacemap",
        "pg_hint_plan",
        "pg_prewarm",
        "pg_repack",
        "pg_similarity",
        "pg_stat_statements",
        "pg_transport",
        "pg_trgm",
        "pg_visibility",
        "pgcrypto",
        "pageinspect",
        "pglogical",
        "pgrowlocks",
        "pgrouting",
        "pgstattuple",
        "pgtap",
        "plcoffee",
        "plls",
        "plperl",
        "plpgsql",
        "pltcl",
        "plv8",
        "postgis",
        "postgis_tiger_geocoder",
        "postgis_topology",
        "postgres_fdw",
        "postgresql-hll",
        "prefix",
        "sslinfo",
        "tablefunc",
        "test_parser",
        "tsm_system_rows",
        "tsm_system_time",
        "unaccent",
        "uuid-ossp"
      ]

    tiny_plan_rds_properties: &tiny_plan_rds_properties
      db_instance_class: "db.t3.micro"
      allocated_storage: 5
      backup_retention_period: 0
      skip_final_snapshot: true
    small_plan_rds_properties: &small_plan_rds_properties
      db_instance_class: "db.t3.small"
      allocated_storage: 100
    medium_plan_rds_properties: &medium_plan_rds_properties
      db_instance_class: "db.m5.large"
      allocated_storage: 100
    large_plan_rds_properties: &large_plan_rds_properties
      db_instance_class: "db.m5.2xlarge"
      allocated_storage: 512
    xlarge_plan_rds_properties: &xlarge_plan_rds_properties
      db_instance_class: "db.m5.4xlarge"
      allocated_storage: 2048

- type: replace
  path: /instance_groups/name=rds_broker/jobs/name=rds-broker/properties/rds-broker/catalog/services/name=postgres/plans?/-
  value:
    id: "9adbd87b-1ce8-4f9b-8562-b57041988fbe"
    name: "tiny-unencrypted-11"
    description: "5GB Storage, NOT BACKED UP, Dedicated Instance, Max 50 Concurrent Connections. Postgres Version 11. DB Instance Class: db.t3.micro."
    free: true
    metadata:
      AdditionalMetadata:
        backups: false
        concurrentConnections: 50
        encrypted: false
        highlyAvailable: false
        instanceClass: db.t3.micro
        storage:
          amount: 5
          unit: GB
        version: 11
      displayName: Tiny
      bullets:
        - "Dedicated Postgres 11 server"
        - "AWS RDS"
    rds_properties:
      <<: *default_postgres_rds_properties # yamllint disable-line
      <<: *tiny_plan_rds_properties # yamllint disable-line

- type: replace
  path: /instance_groups/name=rds_broker/jobs/name=rds-broker/properties/rds-broker/catalog/services/name=postgres/plans?/-
  value:
    id: "b3fe2e1d-ffc5-4c35-8083-8c2b397b1e72"
    name: "small-11"
    description: "100GB Storage, Dedicated Instance, Storage Encrypted, Max 200 Concurrent Connections. Postgres Version 11. DB Instance Class: db.t3.small."
    free: false
    metadata:
      AdditionalMetadata:
        backups: true
        concurrentConnections: 200
        encrypted: true
        highlyAvailable: false
        instanceClass: db.t3.small
        storage:
          amount: 100
          unit: GB
        version: 11
      displayName: Small
      bullets:
        - "Dedicated Postgres 11 server"
        - "Storage Encrypted"
        - "AWS RDS"
    rds_properties:
      <<: *default_postgres_rds_properties # yamllint disable-line
      <<: *small_plan_rds_properties # yamllint disable-line
      storage_encrypted: true

- type: replace
  path: /instance_groups/name=rds_broker/jobs/name=rds-broker/properties/rds-broker/catalog/services/name=postgres/plans?/-
  value:
    id: "9ec72113-5955-4385-96ad-52ef777c10fe"
    name: "small-ha-11"
    description: "100GB Storage, Dedicated Instance, Highly Available, Storage Encrypted, Max 200 Concurrent Connections. Postgres Version 11. DB Instance Class: db.t3.small."
    free: false
    metadata:
      AdditionalMetadata:
        backups: true
        concurrentConnections: 200
        encrypted: true
        highlyAvailable: true
        instanceClass: db.t3.small
        storage:
          amount: 100
          unit: GB
        version: 11
      displayName: Small highly-available
      bullets:
        - "Dedicated Postgres 11 server"
        - "AWS RDS"
    rds_properties:
      <<: *default_postgres_rds_properties # yamllint disable-line
      <<: *small_plan_rds_properties # yamllint disable-line
      multi_az: true
      storage_encrypted: true

- type: replace
  path: /instance_groups/name=rds_broker/jobs/name=rds-broker/properties/rds-broker/catalog/services/name=postgres/plans?/-
  value:
    id: "e1dac552-b77b-4ae8-8d72-2d6186bf3380"
    name: "medium-11"
    description: "100GB Storage, Dedicated Instance, Storage Encrypted, Max 500 Concurrent Connections. Postgres Version 11. DB Instance Class: db.m5.large."
    free: false
    metadata:
      AdditionalMetadata:
        backups: true
        concurrentConnections: 500
        encrypted: true
        highlyAvailable: false
        instanceClass: db.m5.large
        storage:
          amount: 100
          unit: GB
        version: 11
      displayName: Medium
      bullets:
        - "Dedicated Postgres 11 server"
        - "Storage Encrypted"
        - "AWS RDS"
    rds_properties:
      <<: *default_postgres_rds_properties # yamllint disable-line
      <<: *medium_plan_rds_properties # yamllint disable-line
      storage_encrypted: true

- type: replace
  path: /instance_groups/name=rds_broker/jobs/name=rds-broker/properties/rds-broker/catalog/services/name=postgres/plans?/-
  value:
    id: "8bdac429-5789-4ee7-ac2e-8800c94ac747"
    name: "medium-ha-11"
    description: "100GB Storage, Dedicated Instance, Highly Available, Storage Encrypted, Max 500 Concurrent Connections. Postgres Version 11. DB Instance Class: db.m5.large."
    free: false
    metadata:
      AdditionalMetadata:
        backups: true
        concurrentConnections: 500
        encrypted: true
        highlyAvailable: true
        instanceClass: db.m5.large
        storage:
          amount: 100
          unit: GB
        version: 11
      displayName: Medium highly-available
      bullets:
        - "Dedicated Postgres 11 server"
        - "Storage Encrypted"
        - "AWS RDS"
    rds_properties:
      <<: *default_postgres_rds_properties # yamllint disable-line
      <<: *medium_plan_rds_properties # yamllint disable-line
      multi_az: true
      storage_encrypted: true

- type: replace
  path: /instance_groups/name=rds_broker/jobs/name=rds-broker/properties/rds-broker/catalog/services/name=postgres/plans?/-
  value:
    id: "07faed7b-3ed9-4904-af64-8e0b75e1e355"
    name: "large-11"
    description: "512GB Storage, Dedicated Instance, Storage Encrypted, Max 5000 Concurrent Connections. Postgres Version 11. DB Instance Class: db.m5.2xlarge."
    free: false
    metadata:
      AdditionalMetadata:
        backups: true
        concurrentConnections: 5000
        encrypted: true
        highlyAvailable: false
        instanceClass: db.m5.2xlarge
        storage:
          amount: 512
          unit: GB
        version: 11
      displayName: Large
      bullets:
        - "Dedicated Postgres 11 server"
        - "Storage Encrypted"
        - "AWS RDS"
    rds_properties:
      <<: *default_postgres_rds_properties # yamllint disable-line
      <<: *large_plan_rds_properties # yamllint disable-line
      storage_encrypted: true

- type: replace
  path: /instance_groups/name=rds_broker/jobs/name=rds-broker/properties/rds-broker/catalog/services/name=postgres/plans?/-
  value:
    id: "1826881e-31a2-46ca-997d-d920eb9ecd20"
    name: "large-ha-11"
    description: "512GB Storage, Dedicated Instance, Highly Available, Storage Encrypted, Max 5000 Concurrent Connections. Postgres Version 11. DB Instance Class: db.m5.2xlarge."
    free: false
    metadata:
      AdditionalMetadata:
        backups: true
        concurrentConnections: 5000
        encrypted: true
        highlyAvailable: true
        instanceClass: db.m5.2xlarge
        storage:
          amount: 512
          unit: GB
        version: 11
      displayName: Large highly-available
      bullets:
        - "Dedicated Postgres 11 server"
        - "Storage Encrypted"
        - "AWS RDS"
    rds_properties:
      <<: *default_postgres_rds_properties # yamllint disable-line
      <<: *large_plan_rds_properties # yamllint disable-line
      multi_az: true
      storage_encrypted: true

- type: replace
  path: /instance_groups/name=rds_broker/jobs/name=rds-broker/properties/rds-broker/catalog/services/name=postgres/plans?/-
  value:
    id: "0cc655f7-337b-4caf-9544-cbea6f30ccd4"
    name: "xlarge-11"
    description: "2TB Storage, Dedicated Instance, Storage Encrypted, Max 5000 Concurrent Connections. Postgres Version 11. DB Instance Class: db.m5.4xlarge."
    free: false
    metadata:
      AdditionalMetadata:
        backups: true
        concurrentConnections: 5000
        encrypted: true
        highlyAvailable: false
        instanceClass: db.m5.4xlarge
        storage:
          amount: 2
          unit: TB
        version: 11
      displayName: Extra Large
      bullets:
        - "Dedicated Postgres 11 server"
        - "Storage Encrypted"
        - "AWS RDS"
    rds_properties:
      <<: *default_postgres_rds_properties # yamllint disable-line
      <<: *xlarge_plan_rds_properties # yamllint disable-line
      storage_encrypted: true

- type: replace
  path: /instance_groups/name=rds_broker/jobs/name=rds-broker/properties/rds-broker/catalog/services/name=postgres/plans?/-
  value:
    id: "31cd6855-62b4-4786-925a-8df2c7f98f97"
    name: "xlarge-ha-11"
    description: "2TB Storage, Dedicated Instance, Highly Available, Storage Encrypted, Max 5000 Concurrent Connections. Postgres Version 11. DB Instance Class: db.m5.4xlarge."
    free: false
    metadata:
      AdditionalMetadata:
        backups: true
        concurrentConnections: 5000
        encrypted: true
        highlyAvailable: true
        instanceClass: db.m5.4xlarge
        storage:
          amount: 2
          unit: TB
        version: 11
      displayName: Extra Large highly-available
      bullets:
        - "Dedicated Postgres 11 server"
        - "Storage Encrypted"
        - "AWS RDS"
    rds_properties:
      <<: *default_postgres_rds_properties # yamllint disable-line
      <<: *xlarge_plan_rds_properties # yamllint disable-line
      multi_az: true
      storage_encrypted: true
