---

- type: replace
  path: /releases/-
  value:
    name: cdn-broker
    version: 0.1.47
    url: https://s3-eu-west-1.amazonaws.com/gds-paas-build-releases/cdn-broker-0.1.47.tgz
    sha1: cfbb094c441764bd7ddf08e0b90d9097c40afcf7

- type: replace
  path: /addons/name=loggregator_agent/exclude/jobs/-
  value:
    name: cdn-broker
    release: cdn-broker

- type: replace
  path: /instance_groups/-
  value:
    name: cdn_broker
    azs: [z1, z2]
    instances: 2
    vm_type: nano
    vm_extensions:
      - cdn_broker
    stemcell: default
    jobs:
      - name: cdn-broker
        release: cdn-broker
        properties: &cdn-broker-properties
          cdn-broker:
            broker_username: "cdn-broker"
            broker_password: ((secrets_cdn_broker_admin_password))
            database_url: ((terraform_outputs_cdn_db_connection_string))
            email: "the-multi-cloud-paas-team@digital.cabinet-office.gov.uk"
            acme_url: "https://acme-v01.api.letsencrypt.org/directory"
            bucket: gds-paas-((environment))-cdn-broker-challenge
            iam_path_prefix: ((environment))-letsencrypt
            cloudfront_prefix: ((environment))-cdn
            aws_access_key_id: ""
            aws_secret_access_key: ""
            api_address: https://api.((terraform_outputs_cf_root_domain))
            client_id: "cdn_broker"
            client_secret: ((secrets_uaa_clients_cdn_broker_secret))
            default_origin: ((terraform_outputs_cf_apps_domain))
            aws_region: "((terraform_outputs_region))"
      - name: cdn-cron
        release: cdn-broker
        properties: *cdn-broker-properties
    networks:
      - name: cf

- type: replace
  path: /instance_groups/name=uaa/jobs/name=uaa/properties/uaa/clients/cdn_broker?
  value:
    authorities: uaa.none
    authorized-grant-types: password
    override: true
    scope: cloud_controller.admin_read_only
    secret: ((secrets_uaa_clients_cdn_broker_secret))

- type: replace
  path: /variables/-
  value:
    name: secrets_cdn_broker_admin_password
    type: password

- type: replace
  path: /variables/-
  value:
    name: secrets_uaa_clients_cdn_broker_secret
    type: password
