---

- type: replace
  path: /releases/-
  value:
    name: s3-broker
    version: 0.1.12
    url: https://s3-eu-west-1.amazonaws.com/gds-paas-build-releases/s3-broker-0.1.12.tgz
    sha1: 07d3d7d89e0381f4b337f2d24abf9c8b37e3e561

- type: replace
  path: /addons/name=loggregator_agent/exclude/jobs/-
  value:
    name: s3-broker
    release: s3-broker

- type: replace
  path: /instance_groups/-
  value:
    name: s3_broker
    azs: [z1, z2]
    instances: 2
    vm_type: nano
    vm_extensions:
      - s3_broker
    stemcell: default
    networks:
      - name: cf
    jobs:
      - name: s3-broker
        release: s3-broker
        properties:
          s3-broker:
            port: 80
            basic_auth_username: s3-broker
            basic_auth_password: ((secrets_s3_broker_admin_password))
            log_level: INFO
            aws_region: "((terraform_outputs_region))"
            resource_prefix: "paas-s3-broker-((environment))-"
            iam_user_path: "/paas-s3-broker/"
            iam_ip_restriction_policy_arn: "((terraform_outputs_s3_broker_ip_restriction_policy_arn))"
            deploy_environment: "((environment))"
            locket:
              api_location: "locket.service.cf.internal:8891"
              ca_cert: "((diego_locket_client.ca))"
              client_cert: "((diego_locket_client.certificate))"
              client_key: "((diego_locket_client.private_key))"
            catalog:
              services:
                - id: 36880794-1682-4a4b-8771-be655904237d
                  name: aws-s3-bucket
                  description: Object storage with AWS S3
                  metadata:
                    displayName: AWS S3 Object Store
                    longDescription: |
                      Amazon Simple Storage Service (AWS S3) is a service offered by Amazon Web Services (AWS) that 
                      provides object storage through a web service interface.
                    providerDisplayName: Amazon Web Services
                    documentationUrl: https://docs.cloud.service.gov.uk/deploying_services/s3/
                    supportUrl: https://www.cloud.service.gov.uk/support
                    AdditionalMetadata:
                      otherDocumentation:
                        - https://docs.aws.amazon.com/s3
                      usecase:
                        - Assets storage
                        - File Uploads persistance
                  tags:
                    - s3
                  bindable: true
                  plan_updateable: false
                  plans:
                    - id: 24efab31-8cbd-47c0-8513-a9345f3c512b
                      name: default
                      description: A single S3 bucket
                      free: true
                      metadata:
                        displayName: Default
                        AdditionalMetadata:
                          backups: true
                          encrypted: true
                          highlyAvailable: true
                          version: standard

- type: replace
  path: /variables/-
  value:
    name: secrets_s3_broker_admin_password
    type: password
