---
- type: replace
  path: /addons/name=loggregator_agent/jobs/name=loggregator_agent/properties/loggregator/tls/ca_cert
  value: ((loggregator_ca.certificate))((loggregator_ca_old.certificate))

- type: replace
  path: /addons/name=bosh-dns/jobs/name=bosh-dns/properties/api/client/tls/ca
  value: ((dns_api_tls_ca.certificate))((dns_api_tls_ca_old.certificate))

- type: replace
  path: /addons/name=bosh-dns/jobs/name=bosh-dns/properties/api/server/tls/ca
  value: ((dns_api_tls_ca.certificate))((dns_api_tls_ca_old.certificate))

- type: replace
  path: /addons/name=bosh-dns/jobs/name=bosh-dns/properties/health/client/tls/ca
  value: ((dns_healthcheck_tls_ca.certificate))((dns_healthcheck_tls_ca_old.certificate))

- type: replace
  path: /addons/name=bosh-dns/jobs/name=bosh-dns/properties/health/server/tls/ca
  value: ((dns_healthcheck_tls_ca.certificate))((dns_healthcheck_tls_ca_old.certificate))

- type: replace
  path: /instance_groups/name=adapter/jobs/name=adapter/properties/scalablesyslog/adapter/tls/ca
  value: ((loggregator_ca.certificate))((loggregator_ca_old.certificate))

- type: replace
  path: /instance_groups/name=adapter/jobs/name=adapter/properties/scalablesyslog/adapter_rlp/tls/ca
  value: ((loggregator_ca.certificate))((loggregator_ca_old.certificate))

- type: replace
  path: /instance_groups/name=api/jobs/name=cc_uploader/properties/capi/cc_uploader/cc/ca_cert
  value: ((service_cf_internal_ca.certificate))((service_cf_internal_ca_old.certificate))

- type: replace
  path: /instance_groups/name=api/jobs/name=cc_uploader/properties/capi/cc_uploader/mutual_tls/ca_cert
  value: ((service_cf_internal_ca.certificate))((service_cf_internal_ca_old.certificate))

- type: replace
  path: /instance_groups/name=api/jobs/name=cloud_controller_ng/properties/cc/mutual_tls/ca_cert
  value: ((service_cf_internal_ca.certificate))((service_cf_internal_ca_old.certificate))

- type: replace
  path: /instance_groups/name=api/jobs/name=cloud_controller_ng/properties/uaa/ca_cert
  value: ((uaa_ca.certificate))((uaa_ca_old.certificate))

- type: replace
  path: /instance_groups/name=api/jobs/name=statsd_injector/properties/loggregator/tls/ca_cert
  value: ((loggregator_ca.certificate))((loggregator_ca_old.certificate))

- type: replace
  path: /instance_groups/name=cc-worker/jobs/name=cloud_controller_worker/properties/cc/mutual_tls/ca_cert
  value: ((service_cf_internal_ca.certificate))((service_cf_internal_ca_old.certificate))

- type: replace
  path: /instance_groups/name=cc-worker/jobs/name=cloud_controller_worker/properties/uaa/ca_cert
  value: ((uaa_ca.certificate))((uaa_ca_old.certificate))

- type: replace
  path: /instance_groups/name=consul/jobs/name=consul_agent/properties/consul/ca_cert
  value: ((consul_agent_ca.certificate))((consul_agent_ca_old.certificate))

- type: replace
  path: /instance_groups/name=diego-api/jobs/name=bbs/properties/diego/bbs/auctioneer/ca_cert
  value: ((service_cf_internal_ca.certificate))((service_cf_internal_ca_old.certificate))

- type: replace
  path: /instance_groups/name=diego-api/jobs/name=bbs/properties/diego/bbs/ca_cert
  value: ((service_cf_internal_ca.certificate))((service_cf_internal_ca_old.certificate))

- type: replace
  path: /instance_groups/name=diego-api/jobs/name=bbs/properties/diego/bbs/rep/ca_cert
  value: ((service_cf_internal_ca.certificate))((service_cf_internal_ca_old.certificate))

- type: replace
  path: /instance_groups/name=diego-cell/jobs/name=rep/properties/tls/ca_cert
  value: ((service_cf_internal_ca.certificate))((service_cf_internal_ca_old.certificate))

- type: replace
  path: /instance_groups/name=diego-cell/jobs/name=route_emitter/properties/diego/route_emitter/bbs/ca_cert
  value: ((service_cf_internal_ca.certificate))((service_cf_internal_ca_old.certificate))

- type: replace
  path: /instance_groups/name=doppler/jobs/name=doppler/properties/loggregator/tls/ca_cert
  value: ((loggregator_ca.certificate))((loggregator_ca_old.certificate))

- type: replace
  path: /instance_groups/name=doppler/jobs/name=log-cache/properties/tls/ca_cert
  value: ((log_cache_ca.certificate))((log_cache_ca_old.certificate))

- type: replace
  path: /instance_groups/name=doppler/jobs/name=log-cache-nozzle/properties/logs_provider/tls/ca_cert
  value: ((loggregator_ca.certificate))((loggregator_ca_old.certificate))

- type: replace
  path: /instance_groups/name=doppler/jobs/name=log-cache-cf-auth-proxy/properties/cc/ca_cert
  value: ((service_cf_internal_ca.certificate))((service_cf_internal_ca_old.certificate))

- type: replace
  path: /instance_groups/name=doppler/jobs/name=log-cache-cf-auth-proxy/properties/uaa/ca_cert
  value: ((uaa_ca.certificate))((uaa_ca_old.certificate))

- type: replace
  path: /instance_groups/name=log-api/jobs/name=loggregator_trafficcontroller/properties/cc/mutual_tls/ca_cert
  value: ((service_cf_internal_ca.certificate))((service_cf_internal_ca_old.certificate))

- type: replace
  path: /instance_groups/name=log-api/jobs/name=loggregator_trafficcontroller/properties/loggregator/tls/ca_cert
  value: ((loggregator_ca.certificate))((loggregator_ca_old.certificate))

- type: replace
  path: /instance_groups/name=log-api/jobs/name=loggregator_trafficcontroller/properties/uaa/ca_cert
  value: ((uaa_ca.certificate))((uaa_ca_old.certificate))

- type: replace
  path: /instance_groups/name=log-api/jobs/name=reverse_log_proxy/properties/loggregator/tls/ca_cert
  value: ((loggregator_ca.certificate))((loggregator_ca_old.certificate))

- type: replace
  path: /instance_groups/name=router/jobs/name=gorouter/properties/uaa/ca_cert
  value: ((uaa_ca.certificate))((uaa_ca_old.certificate))

- type: replace
  path: /instance_groups/name=scheduler/jobs/name=auctioneer/properties/diego/auctioneer/bbs/ca_cert
  value: ((service_cf_internal_ca.certificate))((service_cf_internal_ca_old.certificate))

- type: replace
  path: /instance_groups/name=scheduler/jobs/name=auctioneer/properties/diego/auctioneer/ca_cert
  value: ((service_cf_internal_ca.certificate))((service_cf_internal_ca_old.certificate))

- type: replace
  path: /instance_groups/name=scheduler/jobs/name=auctioneer/properties/diego/auctioneer/rep/ca_cert
  value: ((service_cf_internal_ca.certificate))((service_cf_internal_ca_old.certificate))

- type: replace
  path: /instance_groups/name=scheduler/jobs/name=cloud_controller_clock/properties/cc/mutual_tls/ca_cert
  value: ((service_cf_internal_ca.certificate))((service_cf_internal_ca_old.certificate))

- type: replace
  path: /instance_groups/name=scheduler/jobs/name=cloud_controller_clock/properties/uaa/ca_cert
  value: ((uaa_ca.certificate))((uaa_ca_old.certificate))

- type: replace
  path: /instance_groups/name=scheduler/jobs/name=scheduler/properties/scalablesyslog/scheduler/tls/api/ca
  value: ((service_cf_internal_ca.certificate))((service_cf_internal_ca_old.certificate))

- type: replace
  path: /instance_groups/name=scheduler/jobs/name=scheduler/properties/scalablesyslog/scheduler/tls/client/ca
  value: ((loggregator_ca.certificate))((loggregator_ca_old.certificate))

- type: replace
  path: /instance_groups/name=scheduler/jobs/name=ssh_proxy/properties/diego/ssh_proxy/bbs/ca_cert
  value: ((service_cf_internal_ca.certificate))((service_cf_internal_ca_old.certificate))

- type: replace
  path: /instance_groups/name=scheduler/jobs/name=statsd_injector/properties/loggregator/tls/ca_cert
  value: ((loggregator_ca.certificate))((loggregator_ca_old.certificate))

- type: replace
  path: /instance_groups/name=scheduler/jobs/name=tps/properties/capi/tps/bbs/ca_cert
  value: ((service_cf_internal_ca.certificate))((service_cf_internal_ca_old.certificate))

- type: replace
  path: /instance_groups/name=scheduler/jobs/name=tps/properties/capi/tps/cc/ca_cert
  value: ((service_cf_internal_ca.certificate))((service_cf_internal_ca_old.certificate))

- type: replace
  path: /instance_groups/name=uaa/jobs/name=statsd_injector/properties/loggregator/tls/ca_cert
  value: ((loggregator_ca.certificate))((loggregator_ca_old.certificate))

- type: replace
  path: /instance_groups/name=api/jobs/name=file_server/properties/loggregator/ca_cert
  value: ((loggregator_ca.certificate))((loggregator_ca_old.certificate))

- type: replace
  path: /instance_groups/name=scheduler/jobs/name=auctioneer/properties/loggregator/ca_cert
  value: ((loggregator_ca.certificate))((loggregator_ca_old.certificate))

- type: replace
  path: /instance_groups/name=scheduler/jobs/name=ssh_proxy/properties/loggregator/ca_cert
  value: ((loggregator_ca.certificate))((loggregator_ca_old.certificate))

- type: replace
  path: /instance_groups/name=scheduler/jobs/name=ssh_proxy/properties/diego/ssh_proxy/uaa/ca_cert
  value: ((uaa_ca.certificate))((uaa_ca_old.certificate))

- type: replace
  path: /instance_groups/name=diego-cell/jobs/name=rep/properties/loggregator/ca_cert
  value: ((loggregator_ca.certificate))((loggregator_ca_old.certificate))

- type: replace
  path: /instance_groups/name=diego-cell/jobs/name=route_emitter/properties/loggregator/ca_cert
  value: ((loggregator_ca.certificate))((loggregator_ca_old.certificate))

- type: replace
  path: /instance_groups/name=diego-api/jobs/name=bbs/properties/loggregator/ca_cert
  value: ((loggregator_ca.certificate))((loggregator_ca_old.certificate))

- type: replace
  path: /instance_groups/name=diego-api/jobs/name=cfdot/properties/tls/ca_certificate
  value: ((service_cf_internal_ca.certificate))((service_cf_internal_ca_old.certificate))

- type: replace
  path: /instance_groups/name=diego-cell/jobs/name=cfdot/properties/tls/ca_certificate
  value: ((service_cf_internal_ca.certificate))((service_cf_internal_ca_old.certificate))

- type: replace
  path: /instance_groups/name=scheduler/jobs/name=cfdot/properties/tls/ca_certificate
  value: ((service_cf_internal_ca.certificate))((service_cf_internal_ca_old.certificate))

- type: replace
  path: /instance_groups/name=diego-api/jobs/name=locket/properties/tls/ca_cert
  value: ((service_cf_internal_ca.certificate))((service_cf_internal_ca_old.certificate))

- type: replace
  path: /instance_groups/name=api/jobs/name=policy-server/properties/uaa_ca
  value: ((uaa_ca.certificate))((uaa_ca_old.certificate))

- type: replace
  path: /instance_groups/name=diego-cell/jobs/name=silk-daemon/properties/ca_cert
  value: ((silk_ca.certificate))((silk_ca_old.certificate))

- type: replace
  path: /instance_groups/name=diego-api/jobs/name=silk-controller/properties/ca_cert
  value: ((silk_ca.certificate))((silk_ca_old.certificate))

- type: replace
  path: /instance_groups/name=diego-api/jobs/name=silk-controller/properties/silk_daemon/ca_cert
  value: ((silk_ca.certificate))((silk_ca_old.certificate))

- type: replace
  path: /instance_groups/name=diego-api/jobs/name=silk-controller/properties/ca_cert
  value: ((silk_ca.certificate))((silk_ca_old.certificate))

- type: replace
  path: /instance_groups/name=api/jobs/name=policy-server-internal/properties/ca_cert
  value: ((network_policy_ca.certificate))((network_policy_ca_old.certificate))

- type: replace
  path: /instance_groups/name=diego-cell/jobs/name=vxlan-policy-agent/properties/ca_cert
  value: ((network_policy_ca.certificate))((network_policy_ca_old.certificate))

- type: replace
  path: /instance_groups/name=diego-api/jobs/name=locket/properties/loggregator/ca_cert
  value: ((loggregator_ca.certificate))((loggregator_ca_old.certificate))

- type: replace
  path: /variables/-
  value:
    name: silk_ca_old
    options:
      common_name: silk_ca
      is_ca: true
    type: certificate

- type: replace
  path: /variables/-
  value:
    name: network_policy_ca_old
    type: certificate
    options:
      is_ca: true
      common_name: networkPolicyCA

- type: replace
  path: /variables/-
  value:
    name: consul_agent_ca_old
    options:
      common_name: consulCA
      is_ca: true
    type: certificate

- type: replace
  path: /variables/-
  value:
    name: loggregator_ca_old
    options:
      common_name: loggregatorCA
      is_ca: true
    type: certificate

- type: replace
  path: /variables/-
  value:
    name: log_cache_ca_old
    options:
      common_name: log-cache
      is_ca: true
    type: certificate

- type: replace
  path: /variables/-
  value:
    name: router_ca_old
    options:
      common_name: routerCA
      is_ca: true
    type: certificate

- type: replace
  path: /variables/-
  value:
    name: service_cf_internal_ca_old
    options:
      common_name: internalCA
      is_ca: true
    type: certificate

- type: replace
  path: /variables/-
  value:
    name: application_ca_old
    options:
      common_name: appRootCA
      is_ca: true
    type: certificate

- type: replace
  path: /variables/-
  value:
    name: uaa_ca_old
    options:
      common_name: uaaCA
      is_ca: true
    type: certificate

- type: replace
  path: /variables/-
  value:
    name: dns_api_tls_ca_old
    options:
      common_name: dnsApiTlsCa
      is_ca: true
    type: certificate

- type: replace
  path: /variables/-
  value:
    name: dns_healthcheck_tls_ca_old
    type: certificate
    options:
      common_name: dnsHealthCheckTlsCa
      is_ca: true

