platform: linux
inputs:
  - name: paas-cf
  - name: deployed-healthcheck
    optional: true
  - name: pipeline-trigger
params:
  SYSTEM_DNS_ZONE_NAME: ((system_dns_zone_name))
  CF_ADMIN: admin
  CF_PASS: ((cf_pass))
  APP_NAME:
image_resource:
  type: registry-image
  source:
    repository: governmentpaas/cf-cli
    tag: e1e4699e1e6f712b69ea17abf4deea07026f9be0
run:
  path: sh
  args:
    - -e
    - -u
    - -c
    - |
      if [ -d deployed-healthcheck ]; then
        HEALTHCHECK_DEPLOYED=$(cat deployed-healthcheck/healthcheck-deployed)
        if [ "${HEALTHCHECK_DEPLOYED}" = "no" ]; then
          echo "Skipping wait-for-app-availability-tests because the healthcheck is not deployed"
          exit 0
        fi
      else
        echo "No deployed-healthcheck resource"
        echo "Skipping checking if healthcheck is deployed"
      fi

      API_ENDPOINT="https://api.${SYSTEM_DNS_ZONE_NAME}"
      PIPELINE_TRIGGER_VERSION=$(cat pipeline-trigger/number)

      cf api "${API_ENDPOINT}"
      cf auth "${CF_ADMIN}" "${CF_PASS}"

      cf target -o admin -s healthchecks

      echo "Waiting for ~2mins for app-availability-tests job to start:"
      for _ in $(seq 24); do
        if cf logs "${APP_NAME}" --recent | grep -q "availability-test=${PIPELINE_TRIGGER_VERSION}"; then
          echo "Request detected"
          exit 0
        fi
        printf "."
        sleep 5
      done

      echo "timeout waiting for app-availability-tests job to start"
      exit 1
