platform: linux
inputs:
  - name: paas-cf
  - name: deployed-healthcheck
    optional: true
  - name: pipeline-trigger
params:
  AWS_DEFAULT_REGION:
  STATE_BUCKET:
image_resource:
  type: registry-image
  source:
    repository: ghcr.io/alphagov/paas/awscli
    tag: 637488d94d9391c3a3439b8d63f084fa28ff9668

run:
  path: sh
  args:
    - -e
    - -u
    - -c
    - |
      if [ -d deployed-healthcheck ]; then
        HEALTHCHECK_DEPLOYED=$(cat deployed-healthcheck/healthcheck-deployed)
        if [ "${HEALTHCHECK_DEPLOYED}" = "no" ]; then
          echo "Skipping wait-for-api-availability-tests because the healthcheck is not deployed"
          exit 0
        fi
      else
        echo "No deployed-healthcheck resource"
        echo "Skipping checking if healthcheck is deployed"
      fi

      PIPELINE_TRIGGER_VERSION=$(cat pipeline-trigger/number)
      JOB_FILE="jobs/${PIPELINE_TRIGGER_VERSION}/api-availability-tests"

      echo "Waiting for ~2mins for api-availability-tests job to start by polling for ${STATE_BUCKET}/${JOB_FILE}"
      for _ in $(seq 24); do
        if aws s3 ls "s3://${STATE_BUCKET}/${JOB_FILE}" ; then
          echo "$JOB_FILE detected"
          exit 0
        fi
        printf "."
        sleep 5
      done

      echo "timeout waiting for api-availability-tests job to start"
      exit 1
